Repository evernym/verity-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: java-publish, python-publish, nodejs-publish

Path conditions:
  java-publish: any of: sdk/java-sdk/**/*, .gitlab-ci.yml
  python-publish: any of: sdk/python-sdk/**/*, .gitlab-ci.yml
  nodejs-publish: any of: sdk/nodejs-sdk/**/*, .gitlab-ci.yml

Update README.md with new structure
  CHANGELOG.md
  FAQ.md
  README.md
  docs/getting-started/getting-started.md
  docs/howto/Protocol-and-Message-Identification-in-Verity.md
  docs/verity-architecture/Generic_Credential_Issuance_Protocol_-_Verity_2.0.png
  docs/verity-architecture/Generic_DID_Exchange__Connecting__Protocol_-_Verity_2.0.png
  docs/verity-architecture/Generic_Proof_Presentation_Protocol_-_Verity_2.0.png
  docs/verity-architecture/Verity_-_High_Level_Diagram.png
  docs/verity-architecture/trust-triangle-verifiable-credentials.jpg
  sdk/README.md
  verity/README.md
Due: none

Resolve issues reported by dependabot
  samples/rest-api/issuer/package-lock.json
  samples/rest-api/issuer/package.json
  samples/rest-api/out-of-band/package-lock.json
  samples/rest-api/out-of-band/package.json
  samples/rest-api/ssi-auth/package-lock.json
  samples/rest-api/ssi-auth/package.json
  samples/rest-api/verifier/package-lock.json
  samples/rest-api/verifier/package.json
  samples/rest-api/web-app/package-lock.json
  samples/rest-api/web-app/package.json
Due: none

Update Verity to the lasted released version
  verity/verity.dockerfile
Due: none

Derive public NuGet artifact version from git release tag
  .gitlab-ci.yml
Due: java-publish, python-publish, nodejs-publish

Bounce DEV_BASE_VERSION
  .gitlab-ci.yml
Due: java-publish, python-publish, nodejs-publish

Fix basic message dotnet
  sdk/dotnet-sdk/src/VeritySDK.Test/Protocols/BasicMessage/BasicMessageTest.cs
  sdk/dotnet-sdk/src/VeritySDK/Protocols/BasicMessage/v1_0/BasicMessageV1_0.cs
Due: none

Bump dev version
  .gitlab-ci.yml
  sdk/dotnet-sdk/src/VeritySDK/Protocols/BasicMessage/v1_0/BasicMessageV1_0.cs
Due: java-publish, python-publish, nodejs-publish

Move publishing of Docker images to a separate stage
  .gitlab-ci.yml
Due: java-publish, python-publish, nodejs-publish

Update FAQ.md
  FAQ.md
Due: none

Update README.md and getting-started.md
  README.md
  docs/getting-started/getting-started.md
Due: none

Updated verity.dockerfile to use pinned library versions
  verity/verity.dockerfile
Due: none

Update oob-with-request-attach app
  samples/sdk/oob-with-request-attach/oob-with-request-attach.js
  samples/sdk/oob-with-request-attach/package-lock.json
  samples/sdk/oob-with-request-attach/package.json
Due: none

Update Issuer/Verifier sample apps to use the out-of-band protocol
  docs/howto/How-to-build-Issuer-using-REST-API.md
  docs/howto/How-to-build-Verifier-using-REST-API.md
  samples/rest-api/issuer/Issuer.js
  samples/rest-api/issuer/package-lock.json
  samples/rest-api/issuer/package.json
  samples/rest-api/out-of-band/OutOfBand.js
  samples/rest-api/out-of-band/package-lock.json
  samples/rest-api/out-of-band/package.json
  samples/rest-api/verifier/Verifier.js
  samples/rest-api/verifier/package-lock.json
  samples/rest-api/verifier/package.json
Due: none

Update SDK sample apps to use the OOB protocol for the inviteURL
  samples/sdk/dotnet-example-app/App.cs
  samples/sdk/java-example-app/src/main/java/com/evernym/sdk/example/App.java
  samples/sdk/nodejs-example-app/example.js
  samples/sdk/python-example-app/app.py
  sdk/dotnet-sdk/src/VeritySDK/Protocols/OutOfBand/v1_0/OutOfBandV1_0.cs
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/outofband/OutOfBandImplV1_0.java
  sdk/nodejs-sdk/src/protocols/v1_0/OutOfBand.js
  sdk/python-sdk/verity_sdk/protocols/v1_0/OutOfBand.py
Due: java-publish, python-publish, nodejs-publish

small refactor of Verifer sample app
  docs/howto/How-to-build-Verifier-using-REST-API.md
  samples/rest-api/verifier/Verifier.js
Due: none

Switch demo web app to use OOB protocol
  samples/rest-api/web-app/app.js
  samples/rest-api/web-app/package-lock.json
  samples/rest-api/web-app/package.json
  samples/rest-api/web-app/public/index.html
Due: none

fix depandabot issue
  samples/rest-api/ssi-auth/app.js
  samples/rest-api/ssi-auth/package-lock.json
  samples/rest-api/ssi-auth/package.json
Due: none

Sample app demoing out-of-band request-attach
  samples/rest-api/oob-request-attach/README.md
  samples/rest-api/oob-request-attach/oob-request-attach.js
  samples/rest-api/oob-request-attach/package-lock.json
  samples/rest-api/oob-request-attach/package.json
Due: none

fix depandabot issues
  samples/sdk/python-example-app/requirements.txt
  sdk/dotnet-sdk/src/VeritySDK/Protocols/OutOfBand/v1_0/OutOfBandV1_0.cs
  sdk/python-sdk/requirements.txt
Due: python-publish

Add proper UTF-8 support for verity.docker
  verity/verity.dockerfile
Due: none

add internationalization support for sample apps docker
  samples/sdk/Dockerfile
Due: none

Update CHANGELOG.md with releases 2.10.0 and 2.9.0
  CHANGELOG.md
Due: none

Added await to provisioning in nodejs sample app
  docs/getting-started/nodejs-verity-flow.md
Due: none

python sdk raise exception in case of 4xx 5xx responses
  sdk/python-sdk/verity_sdk/transports.py
Due: python-publish

Resolve y18n dependabot issue
  samples/sdk/nodejs-example-app/package-lock.json
Due: none

Update FAQ.md
  FAQ.md
  docs/verity-architecture/Verity-Infrastructure.png
Due: none

Add documentation site
  docs/FAQ.md
  docs/assets/logo.jpg
  mkdocs.yml
  requirements.txt
Due: none

Adopt gitlab-ci for gitlab.com
  .gitlab-ci.yml
Due: java-publish, python-publish, nodejs-publish

Relationship protocol: phone number is moved from create to messages which use it.
  samples/rest-api/issuer/Issuer.js
  samples/rest-api/verifier/Verifier.js
  sdk/dotnet-sdk/src/VeritySDK.Test/Protocols/Relationship/RelationshipTest.cs
  sdk/dotnet-sdk/src/VeritySDK/Protocols/Relationship/Relationship.cs
  sdk/dotnet-sdk/src/VeritySDK/Protocols/Relationship/v1_0/RelationshipV1_0.cs
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/relationship/Relationship.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/relationship/RelationshipImplV1_0.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/relationship/v1_0/RelationshipV1_0.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/relationship/v1_0/RelationshipTest.java
  sdk/nodejs-sdk/src/protocols/v1_0/Relationship.js
  sdk/nodejs-sdk/test/test_Relationship1_0.js
  sdk/python-sdk/test/protocols/v1_0/test_Relationship.py
  sdk/python-sdk/verity_sdk/protocols/v1_0/Relationship.py
Due: java-publish, python-publish, nodejs-publish

Updated dotnet and java sdk's to allow for all predicate types
  sdk/dotnet-sdk/src/VeritySDK/Protocols/PresentProof/Common/Predicate.cs
  sdk/dotnet-sdk/src/VeritySDK/Protocols/PresentProof/v1_0/PresentProofV1_0.cs
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/presentproof/common/Predicate.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/presentproof/common/ProposedPredicate.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/presentproof/v1_0/PresentProofV1_0.java
  sdk/nodejs-sdk/src/protocols/v1_0/PresentProof.js
  sdk/python-sdk/verity_sdk/protocols/v1_0/PresentProof.py
Due: java-publish, python-publish, nodejs-publish

Update acknowledgements in the root readme.
  README.md
Due: none

Make publish for all sdk
  .gitlab-ci.yml
  sdk/java-sdk/pom.xml
  sdk/java-sdk/settings.xml
  sdk/nodejs-sdk/package.json
Due: java-publish, python-publish, nodejs-publish

Make all packages publish for check
  .gitlab-ci.yml
Due: java-publish, python-publish, nodejs-publish

Move to containers
  .gitlab-ci.yml
Due: java-publish, python-publish, nodejs-publish

Fix bug in qualifiers
  sdk/python-sdk/verity_sdk/utils/__init__.py
Due: python-publish
