Repository evernym/verity-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: java-publish, python-publish, nodejs-publish

java-publish:
  cache:
    paths:
    - .m2/repository
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=WARN -Dorg.slf4j.simpleLogger.showDateTime=true -Djava.awt.headless=true
  before_script:
  ...

python-publish:
  variables:
    DEV_VERSION: $DEV_BASE_VERSION.$CI_COMMIT_SHORT_SHA
  before_script:
  - cd sdk/python-sdk/
  - echo "VERSION = '$DEV_VERSION'" > verity_sdk/version.py
  stage: publish
  tags:
  - docker-machine
  - micro
  script:
  - make upload

nodejs-publish:
  before_script:
  - cd sdk/nodejs-sdk/
  - npm version --no-git-tag-version $DEV_VERSION
  stage: publish
  tags:
  - docker-machine
  - micro
  script:
  - npm run package
  - npm run publish

Bump build-sdk image
  .gitlab-ci.yml
Due: java-publish, python-publish, nodejs-publish

Update verity.dockerfile
  verity/verity.dockerfile
Due: none

Bounce DEV_BASE_VERSION
  .gitlab-ci.yml
Due: java-publish, python-publish, nodejs-publish

VE-2702 Update dependencies
  sdk/java-sdk/pom.xml
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/TestBase.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/TestHelpers.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/AbstractProtocolTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/BasicMessageTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/CommittedAnswerTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/IssuerSetupTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/MessageFamilyTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/QuestionAnswerTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/TestUtil.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/UpdateConfigsTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/UpdateEndpointTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/WriteCredentialDefinitionTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/WriteSchemaTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/connecting/v1_0/ConnectionsTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/issue_cred/v1_0/IssueCredentialTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/outofband/v1_0/OutOfBandTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/presentproof/common/AttributeTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/presentproof/common/RestrictionTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/presentproof/v1_0/PresentProofTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/provision/ProvisionTestV0_7.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/relationship/v1_0/RelationshipTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/transports/HTTPTransportTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/utils/ContextBuilderTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/utils/ContextConversionTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/utils/ContextTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/utils/UtilTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/utils/VerityUtilTest.java
  sdk/nodejs-sdk/package-lock.json
  sdk/nodejs-sdk/package.json
  sdk/python-sdk/requirements.txt
  sdk/python-sdk/setup.py
Due: java-publish, python-publish, nodejs-publish

Make all packages publish for check
  .gitlab-ci.yml
Due: java-publish, python-publish, nodejs-publish

Make publish for all sdk
  .gitlab-ci.yml
  sdk/java-sdk/pom.xml
  sdk/java-sdk/settings.xml
  sdk/nodejs-sdk/package.json
Due: java-publish, python-publish, nodejs-publish

move each sdk pipeline to a different file
  .gitlab-ci.yml
  cicd/jobs/docker.yml
  cicd/jobs/dotnet.yml
  cicd/jobs/java.yml
  cicd/jobs/nodejs.yml
  cicd/jobs/python.yml
Due: java-publish, python-publish, nodejs-publish

makefile clean up
  sdk/python-sdk/Makefile
Due: python-publish

simplify python pipeline
  cicd/jobs/python.yml
  sdk/python-sdk/Makefile
Due: python-publish

Get released config back for java-sdk.
  sdk/java-sdk/settings.xml
Due: java-publish

Get back relese servers for java
  sdk/java-sdk/settings.xml
Due: java-publish

Add specific publishConfig for Develop
  cicd/jobs/nodejs.yml
Due: none

Remove default publishConfig
  sdk/nodejs-sdk/package.json
Due: nodejs-publish

check python publishing after fix
  cicd/jobs/python.yml
  sdk/python-sdk/Makefile
Due: python-publish

Get back python-publishing for main branch
  cicd/jobs/python.yml
Due: none

Move to another env vars and simplify Makefile
  cicd/jobs/python.yml
  sdk/python-sdk/Makefile
Due: python-publish

Get rid of --repository-url option
  cicd/jobs/python.yml
  sdk/python-sdk/Makefile
Due: python-publish

Rename env var to TWINE_REPOSITORY_URL
  cicd/jobs/python.yml
Due: none

fixed bug in connecting.js
  sdk/nodejs-sdk/src/protocols/v1_0/Connecting.js
Due: nodejs-publish

fixed bug in connecting status messages
  sdk/nodejs-sdk/src/protocols/v1_0/Connecting.js
Due: nodejs-publish

Add tests for multiple restrictions using builder
  sdk/dotnet-sdk/src/VeritySDK.Test/Protocols/PresentProof/AttributeTest.cs
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/presentproof/common/AttributeTest.java
Due: java-publish

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Edit README.md in .NET SDK
  samples/sdk/dotnet-example-app/README.md
Due: none

Add SetupIssuer step in the out_of_band sample app
  samples/rest-api/out-of-band/OutOfBand.js
Due: none

Update dependencies reported by dependabot. Update verity-sdk package version in sample apps
  samples/rest-api/issuer/Issuer.js
  samples/rest-api/issuer/package-lock.json
  samples/rest-api/issuer/package.json
  samples/rest-api/oob-request-attach/oob-request-attach.js
  samples/rest-api/oob-request-attach/package-lock.json
  samples/rest-api/oob-request-attach/package.json
  samples/rest-api/out-of-band/OutOfBand.js
  samples/rest-api/out-of-band/package-lock.json
  samples/rest-api/out-of-band/package.json
  samples/rest-api/verifier/Verifier.js
  samples/rest-api/verifier/package-lock.json
  samples/rest-api/verifier/package.json
  samples/rest-api/web-app/app.js
  samples/rest-api/web-app/package-lock.json
  samples/rest-api/web-app/package.json
  samples/sdk/dotnet-example-app/VeritySDK.Sample.csproj
  samples/sdk/java-example-app/pom.xml
  samples/sdk/nodejs-example-app/example.js
  samples/sdk/nodejs-example-app/package-lock.json
  samples/sdk/nodejs-example-app/package.json
  samples/sdk/oob-with-request-attach/oob-with-request-attach.js
  samples/sdk/oob-with-request-attach/package-lock.json
  samples/sdk/oob-with-request-attach/package.json
  samples/sdk/python-example-app/requirements.txt
  sdk/nodejs-sdk/package-lock.json
Due: nodejs-publish

Update ssi-auth app to include Issuer setup
  samples/rest-api/ssi-auth/app.js
  samples/rest-api/ssi-auth/package-lock.json
  samples/rest-api/ssi-auth/package.json
Due: none

Update FAQ.md
  FAQ.md
Due: none

Add DataRetention.md file
  docs/DataRetention.md
Due: none

Update README.md
  README.md
Due: none

[VE-2600] Add support for overriding endorser did in WriteSchema and WriteCredentialDefinition protocols
  sdk/dotnet-sdk/src/VeritySDK.Test/Protocols/WriteCredDef/WriteCredentialDefinitionTest.cs
  sdk/dotnet-sdk/src/VeritySDK.Test/Protocols/WriteSchema/WriteSchemaTest.cs
  sdk/dotnet-sdk/src/VeritySDK/Protocols/WriteCredDef/v0_6/WriteCredentialDefinitionV0_6.cs
  sdk/dotnet-sdk/src/VeritySDK/Protocols/WriteSchema/v0_6/WriteSchemaV0_6.cs
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/writecreddef/WriteCredentialDefinitionImplV0_6.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/writecreddef/v0_6/WriteCredentialDefinitionV0_6.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/writeschema/WriteSchemaImplV0_6.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/writeschema/v0_6/WriteSchemaV0_6.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/WriteCredentialDefinitionTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/WriteSchemaTest.java
  sdk/nodejs-sdk/src/protocols/v0_6/WriteCredentialDefinition.js
  sdk/nodejs-sdk/src/protocols/v0_6/WriteSchema.js
  sdk/nodejs-sdk/test/test_WriteSchema_0_6.js
  sdk/python-sdk/test/protocols/test_WriteCredentialDefinition.py
  sdk/python-sdk/test/protocols/test_WriteSchema.py
  sdk/python-sdk/verity_sdk/protocols/v0_6/WriteCredentialDefinition.py
  sdk/python-sdk/verity_sdk/protocols/v0_6/WriteSchema.py
Due: java-publish, python-publish, nodejs-publish

publish verity test harness image
  cicd/jobs/docker.yml
  test-harness/verity/Dockerfile.verity
  test-harness/verity/configuration/Evernym_Root_CA.crt
  test-harness/verity/configuration/akka.conf
  test-harness/verity/configuration/application.conf
  test-harness/verity/configuration/logback.xml
  test-harness/verity/entrypoint.sh
  test-harness/verity/package-lock.json
  test-harness/verity/package.json
  test-harness/verity/verity_backchannel.js
Due: none

VE-2769 Add support for authentication of webhook endpoints
  sdk/dotnet-sdk/src/VeritySDK.Test/Protocols/UpdateEndpoint/UpdateEndpointTest.cs
  sdk/dotnet-sdk/src/VeritySDK/Protocols/UpdateEndpoint/Common/Authentication.cs
  sdk/dotnet-sdk/src/VeritySDK/Protocols/UpdateEndpoint/Common/AuthenticationFactory.cs
  sdk/dotnet-sdk/src/VeritySDK/Protocols/UpdateEndpoint/UpdateEndpoint.cs
  sdk/dotnet-sdk/src/VeritySDK/Protocols/UpdateEndpoint/v0_6/UpdateEndpointV0_6.cs
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/updateendpoint/UpdateEndpoint.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/updateendpoint/UpdateEndpointImplV0_6.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/updateendpoint/common/Authentication.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/updateendpoint/common/AuthenticationFactory.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/UpdateEndpointTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/updateendpoint/AuthenticationTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/updateendpoint/UpdateEndpointTest.java
  sdk/nodejs-sdk/src/protocols/v0_6/UpdateEndpoint.js
  sdk/nodejs-sdk/test/test_UpdateEndpoint.js
  sdk/python-sdk/test/protocols/test_UpdateEndpoint.py
  sdk/python-sdk/verity_sdk/protocols/v0_6/UpdateEndpoint.py
Due: java-publish, python-publish, nodejs-publish

add Moving to production to FAQ
  FAQ.md
Due: none

Add Connect.Me deep links syntax in the FAQ
  FAQ.md
Due: none

update verity version in dockerfile
  verity/verity.dockerfile
Due: none

add minimum system requirements to Readme
  README.md
Due: none

Bounce Verity version in the Verity Dockerfile
  cicd/jobs/docker.yml
  sdk/nodejs-sdk/test/test_UpdateEndpoint.js
  test-harness/verity/Dockerfile.verity
  test-harness/verity/configuration/Evernym_Root_CA.crt
  test-harness/verity/configuration/akka.conf
  test-harness/verity/configuration/application.conf
  test-harness/verity/configuration/logback.xml
  test-harness/verity/entrypoint.sh
  test-harness/verity/package-lock.json
  test-harness/verity/package.json
  test-harness/verity/verity_backchannel.js
  verity/verity.dockerfile
Due: nodejs-publish

Bounce DEV version
  .gitlab-ci.yml
  cicd/jobs/nodejs.yml
Due: java-publish, python-publish, nodejs-publish

Update Verity dockerfile to use libindy-async
  verity/verity.dockerfile
Due: none

Path conditions:
  java-publish: any of: sdk/java-sdk/**/*, .gitlab-ci.yml
  python-publish: any of: sdk/python-sdk/**/*, .gitlab-ci.yml
  nodejs-publish: any of: sdk/nodejs-sdk/**/*, .gitlab-ci.yml
