Repository evernym/verity-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: java-publish, python-publish, nodejs-publish

java-publish:
  cache:
    paths:
    - .m2/repository
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=WARN -Dorg.slf4j.simpleLogger.showDateTime=true -Djava.awt.headless=true
  before_script:
  ...

python-publish:
  variables:
    DEV_VERSION: $DEV_BASE_VERSION.$CI_COMMIT_SHORT_SHA
  before_script:
  - cd sdk/python-sdk/
  - echo "VERSION = '$DEV_VERSION'" > verity_sdk/version.py
  stage: publish
  tags:
  - docker-machine
  - micro
  script:
  - make upload

nodejs-publish:
  before_script:
  - cd sdk/nodejs-sdk/
  - npm version --no-git-tag-version $DEV_VERSION
  stage: publish
  tags:
  - docker-machine
  - micro
  script:
  - npm run package
  - npm run publish

VE-2095
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/issuecredential/IssueCredential.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/issuecredential/IssueCredentialImplV1_0.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/presentproof/PresentProof.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/presentproof/PresentProofImplV1_0.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/issue_cred/v1_0/IssueCredentialTest.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/presentproof/v1_0/PresentProofTest.java
  sdk/nodejs-sdk/src/protocols/v1_0/IssueCredential.js
  sdk/nodejs-sdk/src/protocols/v1_0/PresentProof.js
  sdk/nodejs-sdk/test/test_Context.js
  sdk/nodejs-sdk/test/test_IssueCredential_1_0.js
  sdk/python-sdk/test/protocols/v1_0/test_IssueCredential.py
  sdk/python-sdk/verity_sdk/protocols/v1_0/IssueCredential.py
  sdk/python-sdk/verity_sdk/protocols/v1_0/PresentProof.py
Due: java-publish, python-publish, nodejs-publish

catches missing wallet when trying to delete
  samples/sdk/python-example-app/app.py
Due: none

Update verity.dockerfile latest release of verity
  verity/verity.dockerfile
Due: none

OOB NodeJS SDK sample app
  samples/sdk/Dockerfile
  samples/sdk/nodejs-outofband-app/README.md
  samples/sdk/nodejs-outofband-app/out-of-band.js
  samples/sdk/nodejs-outofband-app/package-lock.json
  samples/sdk/nodejs-outofband-app/package.json
  samples/sdk/nodejs-outofband-app/public/index.html
  samples/sdk/nodejs-outofband-app/public/issueCredential.html
  samples/sdk/nodejs-outofband-app/public/requestProof.html
  samples/sdk/nodejs-outofband-app/public/style.css
Due: none

Update dev version number
  .gitlab-ci.yml
Due: java-publish, python-publish, nodejs-publish

Missing wallet fix
  samples/sdk/nodejs-example-app/example.js
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/wallet/WalletUtil.java
Due: java-publish

Fix CVE-2020-15250
  sdk/java-sdk/pom.xml
Due: java-publish

Updated getting-started document
  docs/getting-started/getting-started.md
Due: none

Improved OOB request-attach documentation
  samples/sdk/oob-with-request-attach/README.md
  samples/sdk/oob-with-request-attach/oob-with-request-attach.js
  samples/sdk/oob-with-request-attach/package-lock.json
  samples/sdk/oob-with-request-attach/package.json
  samples/sdk/oob-with-request-attach/public/index.html
  samples/sdk/oob-with-request-attach/public/issueCredential.html
  samples/sdk/oob-with-request-attach/public/requestProof.html
  samples/sdk/oob-with-request-attach/public/style.css
Due: none

.NET sample app instructions
  docs/getting-started/getting-started.md
Due: none

Make PMD check happy. It does not like * imports
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/presentproof/v1_0/PresentProofV1_0.java
Due: java-publish

Delete unused devops folder
  devops/Evernym_Root_CA.crt
  devops/dockerfiles/buildenv.dockerfile
  devops/scripts/unit_tests_and_syntax.sh
Due: none

Included .NET SDK in the CI/CD pipeline
  .gitlab-ci.yml
  sdk/dotnet-sdk/src/VeritySDK.Doc/docfx.json
  sdk/dotnet-sdk/src/VeritySDK.sln
Due: java-publish, python-publish, nodejs-publish

Added support for names parameter in proof attribute
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/presentproof/common/Attribute.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/presentproof/v1_0/PresentProofV1_0.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/presentproof/common/AttributeTest.java
  sdk/nodejs-sdk/test/test_PresentProof_1_0.js
  sdk/python-sdk/test/protocols/test_PresentProof.py
Due: java-publish, python-publish, nodejs-publish

Java test changes.
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/presentproof/common/AttributeTest.java
Due: java-publish

Added flow interactions doc for .NET
  docs/getting-started/dotnet-verity-flow.md
  docs/getting-started/getting-started.md
Due: none

Alligned console output of .NET sample app with other SDKs
  samples/sdk/dotnet-example-app/App.cs
Due: none

Update verity.dockerfile
  verity/verity.dockerfile
Due: none

ReleaseNotes and KnownIssues update
  CHANGELOG.md
  KnownIssues.md
Due: none

Added Propose proof logic and names resctriction to .NET
  sdk/dotnet-sdk/README.md
  sdk/dotnet-sdk/src/VeritySDK.Doc/index.md
  sdk/dotnet-sdk/src/VeritySDK.Test/Protocols/PresentProof/AttributeTest.cs
  sdk/dotnet-sdk/src/VeritySDK.Test/Protocols/PresentProof/PresentProofTest.cs
  sdk/dotnet-sdk/src/VeritySDK/Protocols/PresentProof/Common/Attribute.cs
  sdk/dotnet-sdk/src/VeritySDK/Protocols/PresentProof/Common/ProposedAttribute.cs
  sdk/dotnet-sdk/src/VeritySDK/Protocols/PresentProof/Common/ProposedPredicate.cs
  sdk/dotnet-sdk/src/VeritySDK/Protocols/PresentProof/PresentProof.cs
  sdk/dotnet-sdk/src/VeritySDK/Protocols/PresentProof/v1_0/PresentProofV1_0.cs
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/presentproof/PresentProof.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/presentproof/common/ProposedAttribute.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/presentproof/common/ProposedPredicate.java
Due: java-publish

Auto release for java maven repo 'on'
  sdk/java-sdk/pom.xml
Due: java-publish

Ve 2019
  sdk/dotnet-sdk/src/VeritySDK.Test/Protocols/BasicMessage/BasicMessageTest.cs
  sdk/dotnet-sdk/src/VeritySDK/Protocols/BasicMessage/BasicMessage.cs
  sdk/dotnet-sdk/src/VeritySDK/Protocols/BasicMessage/v1_0/BasicMessageV1_0.cs
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/basicmessage/BasicMessage.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/basicmessage/BasicMessageImplV1_0.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/basicmessage/v1_0/BasicMessageV1_0.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/BasicMessageTest.java
  sdk/nodejs-sdk/src/protocols/BasicMessage.js
  sdk/nodejs-sdk/src/protocols/v1_0/BasicMessage.js
  sdk/nodejs-sdk/test/test_BasicMessage.js
  sdk/python-sdk/test/protocols/test_BasicMessage.py
  sdk/python-sdk/verity_sdk/protocols/BasicMessage.py
  sdk/python-sdk/verity_sdk/protocols/v1_0/BasicMessage.py
Due: java-publish, python-publish, nodejs-publish

Documentation changes
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/basicmessage/BasicMessage.java
  sdk/nodejs-sdk/src/protocols/v1_0/BasicMessage.js
  sdk/python-sdk/verity_sdk/protocols/v1_0/BasicMessage.py
Due: java-publish, python-publish, nodejs-publish

Fixes for python and node sdk's
  sdk/nodejs-sdk/src/protocols/v1_0/BasicMessage.js
  sdk/python-sdk/verity_sdk/protocols/v1_0/BasicMessage.py
Due: python-publish, nodejs-publish

Added basic message to index and added threadId to constructor
  sdk/nodejs-sdk/src/index.js
  sdk/nodejs-sdk/src/protocols/v1_0/BasicMessage.js
Due: nodejs-publish

Updated unit test
  sdk/nodejs-sdk/test/test_BasicMessage.js
Due: nodejs-publish

Cleaned up basic message dotnet sdk
  sdk/dotnet-sdk/src/VeritySDK/Protocols/BasicMessage/v1_0/BasicMessageV1_0.cs
Due: none

Added basic message to protocols index properly this time
  sdk/nodejs-sdk/src/index.js
Due: nodejs-publish

Added basic message to dot net sdk cdproj
  sdk/dotnet-sdk/src/VeritySDK/Protocols/QuestionAnswer/v1_0/CommittedAnswerV1_0.cs
  sdk/dotnet-sdk/src/VeritySDK/VeritySDK.csproj
Due: none

Removed typo
  sdk/dotnet-sdk/src/VeritySDK/Protocols/QuestionAnswer/v1_0/CommittedAnswerV1_0.cs
Due: none

Fixed error with sent time name
  sdk/nodejs-sdk/src/protocols/v1_0/BasicMessage.js
  sdk/nodejs-sdk/test/test_BasicMessage.js
Due: nodejs-publish

Fix space handling when creating schema
  samples/rest-api/web-app/public/index.html
Due: none

Fix for failed provisioning in .NET SDK
  samples/sdk/dotnet-example-app/VeritySDK.Sample.csproj
  sdk/dotnet-sdk/src/VeritySDK/Protocols/Provision/v0_7/ProvisionV0_7.cs
Due: none

Added document describing Verity asynchronous architecture
  docs/Asynchronous-Architecture.md
Due: none

Fix file location
  docs/howto/Asynchronous-Architecture.md
Due: none

Updated OOB sample app README
  samples/sdk/Dockerfile
  samples/sdk/oob-with-request-attach/README.md
Due: none

Marked BasicMessage as experimental
  sdk/dotnet-sdk/src/VeritySDK/Protocols/BasicMessage/BasicMessage.cs
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/basicmessage/BasicMessage.java
  sdk/nodejs-sdk/src/protocols/v1_0/BasicMessage.js
  sdk/python-sdk/verity_sdk/protocols/v1_0/BasicMessage.py
Due: java-publish, python-publish, nodejs-publish

Added validation of WriteSchema protocol arguments
  sdk/dotnet-sdk/src/VeritySDK.Test/Protocols/WriteSchema/WriteSchemaTest.cs
  sdk/dotnet-sdk/src/VeritySDK/Protocols/WriteSchema/v0_6/WriteSchemaV0_6.cs
  sdk/dotnet-sdk/src/VeritySDK/Utils/DbcUtil.cs
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/protocols/writeschema/WriteSchemaImplV0_6.java
  sdk/java-sdk/src/main/java/com/evernym/verity/sdk/utils/DbcUtil.java
  sdk/java-sdk/src/test/java/com/evernym/verity/sdk/protocols/WriteSchemaTest.java
  sdk/nodejs-sdk/src/protocols/v0_6/WriteSchema.js
  sdk/nodejs-sdk/src/utils/DbcUtil.js
  sdk/nodejs-sdk/src/utils/index.js
  sdk/nodejs-sdk/test/test_WriteSchema_0_6.js
  sdk/python-sdk/test/protocols/test_WriteSchema.py
  sdk/python-sdk/verity_sdk/protocols/v0_6/WriteSchema.py
  sdk/python-sdk/verity_sdk/utils/DbcUtil.py
Due: java-publish, python-publish, nodejs-publish

Path conditions:
  java-publish: any of: sdk/java-sdk/**/*, .gitlab-ci.yml
  python-publish: any of: sdk/python-sdk/**/*, .gitlab-ci.yml
  nodejs-publish: any of: sdk/nodejs-sdk/**/*, .gitlab-ci.yml
